{% extends "bootstrap/base.html" %}
{% block title %} - LendLink{% endblock %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!-- link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}" -->
<link rel="icon" href="{{ url_for('.static', filename='img/favicon.ico') }}" type="image/x-icon">
<style type="text/css">
    body {
        padding-top: 60px;
        padding-bottom: 40px;
        .my-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-top: 100px;
            color: #99979c;
            /* text-align: center; */
            background-color: #2a2730;
        }
        .footer-text {
            padding-left: 50px;
        }
    }
</style>
{% endblock %}

{% block navbar %}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Banteng</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
{% endblock %}

{% block content %}
<!-- Page Content -->
{% endblock %}

{% block scripts %}
    <script src="#"></script>
{{super()}}
{% endblock %}