
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <hr>
                <div class="col-md-4">
                    <p>LendLink Project by uways637 ©uways637 </p>
                    <p>Kami melayani pengiriman ke seluruh kota/kabupaten di Indonesia.</p>
                </div>
                <div class="col-md-4">  
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </footer>
    
